/* utf8-zeichentabelle.de */


table.params {border:3px grey solid;border-collapse:collapse;margin-bottom:2em}
tr.pev {background-color:#FFFFFF;border:none}
tr.pod {background-color:#EEEEEE;border:none}
td.parl, td.parr{text-align:left;padding-left:1em;padding-right:1em}
.ln {}  /* links to version with other parameters */
.nl {background-color:#FFFF00; padding-left:1em; padding-right:1em} /* non-active links i.e. this parameter applies */


table.accu {border:1en solid #F8F8F8;border-collapse:collapse}

/* table.browse {border:0.2em grey dotted;padding:5px;text-align:center;margin-left:5em;margin-top:2em;margin-bottom:2em} */
table.browse {border:0.2em grey dotted;padding:5px;text-align:center;margin-left:5em;margin-top:2em;margin-bottom:2em}
tr.browse, td.browse {border:none}

table.codetable {border-collapse:collapse}
tr.head {}
tr.cev {background-color:#FFFFFF}
tr.cod {background-color:#F8F8F8}

td, th  {text-align:center;border-top:1px solid black;border-bottom:1px solid black;border-left:1px solid black;border-right:1px solid black;padding-left:0.5em;padding-right:0.5em}

td.char {text-align:middle}
td.charnodisplay {background-color:#F8F8F8}
td.name {text-align:left;margin-left:1.5em}
td.enname, td.htmlrepr {border-right-style:hidden}
td.entdisplay, td.htmldisp{border-left-style:hidden}
td.noentity{}

div.adv{margin:1em}
div.adnote{font-size:small}

/* Evaluation below für Übergang TABLE / TR TD -> DIV */


div.params {border:none;border-collapse:collapse;margin-bottom:2em}
div.pev {background-color:#FFFFFF;border:none}
div.pod {background-color:#EEEEEE;border:none}
div.parl, div.parr{text-align:left;padding-left:1em;padding-right:1em;border:1px red solid;}
.ln {}  /* links to version with other parameters */
.nl {background-color:#FFFF00; padding-left:1em; padding-right:1em} /* non-active links i.e. this parameter applies */


div.accu {border:1em solid #F8F8F8;border-collapse:collapse}

div.browse {border:0.2em grey dotted;padding:5px;text-align:center;margin-left:5em;margin-top:2em;margin-bottom:2em}
div.browse, div.browse {border:none}

div.codetable {border-collapse:collapse}
div.head {}
div.cev {background-color:#FFFFFF}
div.cod {background-color:#F8F8F8}

div {text-align:center;border-top:1px solid black;border-bottom:1px solid black;border-left:1px solid black;border-right:1px solid black;padding-left:0.5em;padding-right:0.5em}

div.char {text-align:middle}
div.charnodisplay {background-color:#F8F8F8}
div.name {text-align:left;margin-left:1.5em}
div.enname, div.htmlrepr {border-right-style:hidden}
div.entdisplay, div.htmldisp{border-left-style:hidden}
div.noentity{}

div.adv{margin:1em}
div.adnote{font-size:small}

div.row {border:blue 1px solid}


.container, .container-fluid {
  margin-right: auto;
  margin-left: auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*===============   Fluid grid    ====================*/
.container-fluid [class*="grid_"] {
  float: left;
  width: 8.33333%;
  min-height: 1px;
}

.container-fluid .grid_1 {
  width: 8.33333%;
}

.container-fluid .grid_2 {
  width: 16.66667%;
}

.container-fluid .grid_3 {
  width: 25%;
}

.container-fluid .grid_4 {
  width: 33.33333%;
}

.container-fluid .grid_5 {
  width: 41.66667%;
}

.container-fluid .grid_6 {
  width: 50%;
}

.container-fluid .grid_7 {
  width: 58.33333%;
}

.container-fluid .grid_8 {
  width: 66.66667%;
}

.container-fluid .grid_9 {
  width: 75%;
}

.container-fluid .grid_10 {
  width: 83.33333%;
}

.container-fluid .grid_11 {
  width: 91.66667%;
}

.container-fluid .grid_12 {
  width: 100%;
}

.container-fluid .preffix_1 {
  margin-left: 70px;
}

.container-fluid .preffix_2 {
  margin-left: 140px;
}

.container-fluid .preffix_3 {
  margin-left: 210px;
}

.container-fluid .preffix_4 {
  margin-left: 280px;
}

.container-fluid .preffix_5 {
  margin-left: 350px;
}

.container-fluid .preffix_6 {
  margin-left: 420px;
}

.container-fluid .preffix_7 {
  margin-left: 490px;
}

.container-fluid .preffix_8 {
  margin-left: 560px;
}

.container-fluid .preffix_9 {
  margin-left: 630px;
}

.container-fluid .preffix_10 {
  margin-left: 700px;
}

.container-fluid .preffix_11 {
  margin-left: 770px;
}

.container-fluid .preffix_12 {
  margin-left: 840px;
}

.container, .container-fluid {
  width: 1170px;
}

.container .row {
  margin-left: -30px;
}
@media (max-width: 767px) {
  .container, .container-fluid {
    width: 420px;
    padding: 0;
  }

  .container .row {
    margin-left: 0;
  }

  .row + .row,
  [class*="grid_"] + [class*="grid_"] {
    margin-top: 30px;
  }

  .container [class*="grid_"], .container-fluid [class*="grid_"] {
    float: none;
    display: block;
    width: 100%;
    margin-left: 0;
  }
}
@media (max-width: 479px) {
  body {
    padding: 0;
  }

  .container, .container-fluid {
    width: 300px;
    padding: 0 15px;
  }

  .row {
    margin-left: 0;
  }
}
.container:before, .container-fluid:before, .row:before, .container:after, .container-fluid:after, .row:after {
  display: table;
  content: "";
  line-height: 0;
}
.container:after, .container-fluid:after, .row:after {
  clear: both;
}
