--PG_CATALOG-schema

SELECT * FROM pg_catalog.pg_tables ORDER BY schemaname, tablename;

pg_catalog	padb_config_harvest	rdsdb		false	false	false
pg_catalog	pg_aggregate	rdsdb		true	false	false
pg_catalog	pg_am	rdsdb		true	false	false
pg_catalog	pg_amop	rdsdb		true	false	false
pg_catalog	pg_amproc	rdsdb		true	false	false
pg_catalog	pg_attrdef	rdsdb		true	false	false
pg_catalog	pg_attrdef_journal	rdsdb		false	false	false
pg_catalog	pg_attribute	rdsdb		true	false	false
pg_catalog	pg_attribute_acl	rdsdb		true	false	false
pg_catalog	pg_attribute_journal	rdsdb		true	false	false
pg_catalog	pg_bar_ddllog	rdsdb	pg_global	false	false	false
pg_catalog	pg_bar_repos	rdsdb	pg_global	false	false	false
pg_catalog	pg_bar_state	rdsdb	pg_global	false	false	false
pg_catalog	pg_cast	rdsdb		true	false	false
pg_catalog	pg_catalog_rebuilds	rdsdb	pg_global	true	false	false
pg_catalog	pg_class	rdsdb		true	false	false
pg_catalog	pg_class_extended	rdsdb		true	false	false
pg_catalog	pg_class_extended_journal	rdsdb		false	false	false
pg_catalog	pg_class_journal	rdsdb		true	false	false
pg_catalog	pg_class_stage	rdsdb		true	false	false
pg_catalog	pg_conf	rdsdb	pg_global	true	false	false
pg_catalog	pg_constraint	rdsdb		true	false	false
pg_catalog	pg_constraint_journal	rdsdb		false	false	false
pg_catalog	pg_conversion	rdsdb		true	false	false
pg_catalog	pg_database	rdsdb	pg_global	true	false	true
pg_catalog	pg_database_extended	rdsdb	pg_global	true	false	false
pg_catalog	pg_datashare	rdsdb	pg_global	true	false	false
pg_catalog	pg_datashare_consumers	rdsdb	pg_global	true	false	false
pg_catalog	pg_datashare_objects	rdsdb	pg_global	true	false	false
pg_catalog	pg_default_acl	rdsdb		true	false	false
pg_catalog	pg_default_permission	rdsdb	pg_global	true	false	false
pg_catalog	pg_depend	rdsdb		true	false	false
pg_catalog	pg_depend_journal	rdsdb		false	false	false
pg_catalog	pg_description	rdsdb		true	false	false
pg_catalog	pg_external_database	rdsdb	pg_global	true	false	false
pg_catalog	pg_external_schema	rdsdb		true	false	false
pg_catalog	pg_group	rdsdb	pg_global	true	false	true
pg_catalog	pg_group_extended	rdsdb	pg_global	true	false	false
pg_catalog	pg_highwatermark	rdsdb	pg_global	false	false	false
pg_catalog	pg_iam_permission	rdsdb	pg_global	true	false	false
pg_catalog	pg_identity	rdsdb	pg_global	true	false	false
pg_catalog	pg_identity_provider	rdsdb	pg_global	true	false	false
pg_catalog	pg_index	rdsdb		true	false	false
pg_catalog	pg_inherits	rdsdb		true	false	false
pg_catalog	pg_language	rdsdb		true	false	false
pg_catalog	pg_largeobject	rdsdb		true	false	false
pg_catalog	pg_library	rdsdb	pg_global	true	false	false
pg_catalog	pg_listener	rdsdb		false	false	false
pg_catalog	pg_ml_model	rdsdb		true	false	false
pg_catalog	pg_namespace	rdsdb		true	false	false
pg_catalog	pg_namespace_extended	rdsdb		true	false	false
pg_catalog	pg_opclass	rdsdb		true	false	false
pg_catalog	pg_operator	rdsdb		true	false	false
pg_catalog	pg_permission	rdsdb	pg_global	true	false	false
pg_catalog	pg_permission_mask	rdsdb	pg_global	true	false	false
pg_catalog	pg_permission_policy	rdsdb	pg_global	true	false	false
pg_catalog	pg_permission_roles	rdsdb	pg_global	true	false	false
pg_catalog	pg_permission_users	rdsdb	pg_global	true	false	false
pg_catalog	pg_policy	rdsdb	pg_global	true	false	false
pg_catalog	pg_policy_impl	rdsdb	pg_global	true	false	false
pg_catalog	pg_policy_mask	rdsdb	pg_global	true	false	false
pg_catalog	pg_proc	rdsdb		true	false	false
pg_catalog	pg_proc_extended	rdsdb		true	false	false
pg_catalog	pg_resize	rdsdb	pg_global	false	false	false
pg_catalog	pg_rewrite	rdsdb		true	false	false
pg_catalog	pg_role	rdsdb	pg_global	true	false	false
pg_catalog	pg_role_chain	rdsdb	pg_global	true	false	false
pg_catalog	pg_role_permission	rdsdb	pg_global	true	false	false
pg_catalog	pg_role_users	rdsdb	pg_global	true	false	false
pg_catalog	pg_shadow	rdsdb	pg_global	true	false	true
pg_catalog	pg_shadow_extended	rdsdb	pg_global	true	false	false
pg_catalog	pg_shdepend	rdsdb	pg_global	true	false	false
pg_catalog	pg_statistic	rdsdb		true	false	false
pg_catalog	pg_statistic_indicator	rdsdb		true	false	false
pg_catalog	pg_statistic_journal	rdsdb		false	false	false
pg_catalog	pg_statistic_multicol	rdsdb		true	false	false
pg_catalog	pg_tablespace	rdsdb	pg_global	true	false	false
pg_catalog	pg_test	rdsdb		false	false	false
pg_catalog	pg_transaction	rdsdb	pg_global	true	false	false
pg_catalog	pg_trigger	rdsdb		true	false	false
pg_catalog	pg_type	rdsdb		true	false	false
pg_catalog	pg_udf	rdsdb		true	false	false
pg_catalog	pg_unique_identity	rdsdb	pg_global	true	false	false
pg_catalog	pg_user_permission	rdsdb	pg_global	true	false	false
pg_catalog	pg_user_roles	rdsdb	pg_global	true	false	false
