--add table to INTERSPEC-REPLICATION AWS-REDSHIFT

conn interspec/moonflower@IS61

create public synonym AVSPECIFICATION_WEIGHT_MUTLOG for INTERSPC.AVSPECIFICATION_WEIGHT_MUTLOG;

--add supp.log
INSERT INTO DBA_AWS_SUPPLEMENTAL_LOG (ASL_SCHEMA_OWNER, ASL_TABLE_NAME, ASL_PK_EXISTS_JN, ASL_SUPPL_LOG_TYPE, ASL_IND_ACTIVE_JN, ASL_ACTIVATION_DATE ) 
VALUES ('INTERSPC' ,'AVSPECIFICATION_WEIGHT_MUTLOG','J','ALL','J',SYSDATE);

/*CREATE TABLE "INTERSPC"."DBA_AWS_SUPPLEMENTAL_LOG" 
   (	"ASL_ID" NUMBER(10,0), 
	"ASL_SCHEMA_OWNER" VARCHAR2(100 BYTE), 
	"ASL_TABLE_NAME" VARCHAR2(100 BYTE), 
	"ASL_PK_EXISTS_JN" VARCHAR2(1 BYTE), 
	"ASL_SUPPL_LOG_TYPE" VARCHAR2(3 BYTE), 
	"ASL_IND_ACTIVE_JN" VARCHAR2(1 BYTE), 
	"ASL_ACTIVATION_DATE" DATE, 
	"ASL_OPMERKING" VARCHAR2(1000 BYTE), 
*/
SET SERVEROUTPUT ON
DECLARE
l_stmnt varchar2(4000);
BEGIN
FOR x IN (SELECT ASL_TABLE_NAME  FROM DBA_AWS_SUPPLEMENTAL_LOG order by asl_table_name )
  LOOP   
    l_stmnt := 'GRANT SELECT ON ' || x.asl_table_name || ' TO AWSDWH ';
	dbms_output.put_line(l_stmnt);
    EXECUTE IMMEDIATE l_stmnt; 
  END LOOP; 
END;
/

--let op: ACTIVE_JN moet op "J", staan, maar ASL_ACTIVATION_DATE moet nog leeg zijn !!!!!
UPDATE DBA_AWS_SUPPLEMENTAL_LOG SET ASL_IND_ACTIVE_JN='J', ASL_ACTIVATION_DATE=NULL WHERE ASL_TABLE_NAME LIKE 'AVSPEC%';
SELECT * FROM DBA_AWS_SUPPLEMENTAL_LOG WHERE ASL_TABLE_NAME LIKE 'AVSPEC%';
COMMIT;


SET SERVEROUTPUT ON
alter table AVSPECIFICATION_WEIGHT_MUTLOG drop supplemental log data (all) columns;
alter system switch logfile; 
BEGIN DBA_AWS_ADD_SUPPLEMENTAL_LOG (p_table_name=>'AVSPECIFICATION_WEIGHT', p_debug=>'N'); END;
BEGIN DBA_AWS_ADD_SUPPLEMENTAL_LOG (p_table_name=>'AVSPECIFICATION_WEIGHT_MUTLOG', p_debug=>'N'); END;
alter system switch logfile; 

--CONTROLE TABELLEN MET SUPPLEMENTAL-LOGGING...
--Alles is gebaseerd op de LOG-GROUP. Geef je deze niet expliciet op, dan genereert oracle deze (SYS_%).
--WHERE LOG_GROUP_TYPE='ALL COLUMN LOGGING'
select * from ALL_LOG_GROUPS where  OWNER='INTERSPC' ORDER BY TABLE_NAME ;

--Indien in deze tabel aanwezig moet het in principe allemaal goed gaan...

--einde script.

